@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<ul  class="list-group list-group-flush">
    <h5 class="text-muted">Arşiv</h5>
  
    <li  class="list-group-item rounded">
        <a asp-controller="Blog" asp-action="ListBlogForDate"  asp-route-id="2017" class="text-secondary">
            2017
        </a>
    </li>
    <li class="list-group-item rounded">
        <a asp-controller="Blog" asp-action="ListBlogForDate" asp-route-id="2018" class="text-secondary">
            2018
        </a>
    </li>
    <li class="list-group-item rounded">
        <a  asp-controller="Blog" asp-action="ListBlogForDate" asp-route-id="2019" class="text-secondary">
            2019
        </a>
    </li>
</ul> 











